---
title: Funcionalidad xRay
layout: layoutxray
---
.container
  .row
    .span4
      .titlec
        xRay Módulos del sistema base 
      .text
        %ul
          %li
            Recepción de pacientes
          %li
            Caja y facturación
          %li
            Empresas
          %li
            Resultados
          %li
            Control de calidad
          %li
            Módulo de control de maquilas y manejo de sucursales
          %li
            Reportes y consultas
          %li
            Seguridad y utilerías

    .span4
      .titlec
        xRay Módulos adicionales 
      .text
        %ul          
          %li
            Módulo de resultados por Internet (xRayWeb)
          %li
            Control de almacenes
          %li
            Desarrollo de interfaces con equipos digitales o PACS por medio de HL7 o DICOM
