---
title: Funcionalidad xRay
layout: layoutxray
---
.container
  .row
    .span8
      .title
        Demostración en línea de xRay
    .row
      .span8
        .text
          Virtus Group© y su división de software médico y hospitalario, Virtus Medical©, se complacen en presentarle su producto xRay© y lo invitan a conocerlo mediante está demostración.<br/>

          P R O X I M A M E N T E.....