!!! 5
%html
  %head
    %title= data.page.title || "Virtus Medical"
    %link(href='http://fonts.googleapis.com/css?family=Questrial&v1' rel='stylesheet' type='text/css')
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    = stylesheet_link_tag "bootstrap","medical","qunit"
    = javascript_include_tag  "bootstrap"

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"}
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/jquery.expander.js"}    
   
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"}
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/jquery.expander.js"}
 
   
  %body.paginash
    .container    
      .header
        .row    
          .span12
            %img{:src => "/images/banner.png", :alt => "Virtus Medical"}       
        .row
          .mtitle
            La virtud de crear sistemas de información
    .container    
      .menu
        %ul.breadcrumb
          %li
            %a{:href => "/index.html"} Inicio
            %span.divider /
          %li
            %a{:href => "/pages/productos.html"} Productos
            %span.divider /
          %li
            %a{:href => "/pages/servicios.html"} Servicios
            %span.divider /
          
          %li
            %a{:href => "/pages/clientes.html"} Clientes
            %span.divider /
          %li
            %a{:href => "/pages/contacto.html"} Contacto

      .row
        .span12
          .container.fluid
            .row.fluid
              .span4
                .well.sidebar-nav
                  %ul.nav.nav-list
               
                    %li.nav-header 
                      %a{:href => "/xhosp/videosh.html"} Videos xHosp
                    %li
                      %a{:href => "/pages/vcaracteristicas.html"} Características Especiales
                    %li
                      %a{:href => "/pages/vadmisiondepacientes.html"} Admisión de Pacientes
                    %li
                      %a{:href => "/pages/vfacturacion.html"} Facturación y caja general
                    %li
                      %a{:href => "/pages/vlaboratorio.html"} Laboratorio de Análisis Clínico
                    %li
                      %a{:href => "/pages/vadministracion.html"} Administración
                    %li
                      %a{:href => "/pages/vfarmacia.html"} Control de Farmacia
                    %li
                      %a{:href => "/pages/vcentralenfermeria.html"} Area de atención a hospitalizados
                    %li
                      %a{:href => "/pages/vtransferencia.html"} Transferencia y Egresos
                    %li
                      %a{:href => "/pages/vcontrolcuartos.html"} Censo y Control de Cuartos
                    %li
                      %a{:href => "/pages/vcargocuartos.html"} Cargo Automático de Cuartos
                    %li
                      %a{:href => "/pages/vquirofano.html"} Programa y control de quirófano
                        
                    
                    
                    


                %a.btn.btn-large.btn-primary{:href => "/xhosp/index.html"}
                  Ir a xHosp
                %a.btn.btn-large.btn-primary{:href => "/xlab/index.html"}
                  Ir a xLab
                %a.btn.btn-large.btn-primary{:href => "/xray/index.html"}
                  Ir a xRay 
                .imgs
                  %img{:src => "/images/xhosp.jpg", :alt => "Virtus Medical"}
                
              .span7
                = yield

              

      

    :javascript
      $(document).ready(function() {
        var opts = {collapseTimer: 4000};
          $.each(['beforeExpand', 'afterExpand', 'onCollapse'], function(i, callback) {
          opts[callback] = function(byUser) {
            var by, msg = '' + callback;
  
            if (callback == 'onCollapse') {
              msg += ' (' + (byUser ? 'user' : 'timer') + ')';
            }
            msg += '';
  
            $(this).parent().parent().append(msg)
          }
        });
  
        $('dl.expander dd').eq(0).expander();
        $('dl.expander dd').slice(1).expander(opts);
  
  
        $('ul.expander li').expander({
          slicePoint: 100,
          widow: 4,
          expandSpeed: 0,
          userCollapseText: '[^]'
        });
  
        $('div.expander').expander();
      });       
 
