---
title: Virtus Medical Contacto
layout: layout
---
.row
  .span10.offset1
    .text
      <br/>
      Virtus Medical
      <br/>
  
      Agradece mucho su interés<br/> 

      En breve uno de nuestros asesores se pondrá en contacto con usted.<br/>

      GRACIAS<br/>
