---
title: Videos xHosp Admisión de Pacientes
layout: layoutvideos
---

%iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "600", :src => "http://www.youtube.com/embed/eRGt4pRAGII", :title => "YouTube video player", :type => "text/html", :width => "600"}