---
title: Videos xHosp Características Especiales
layout: layoutvideos
---

%iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "600", :src => "http://www.youtube.com/embed/Z7WvB42rDRg", :title => "YouTube video player", :type => "text/html", :width => "600"}
