---
title: Videos xHosp Central de Enfermería
layout: layoutvideos
---

%iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "600", :src => "http://www.youtube.com/embed/x95JiEMiptw", :title => "YouTube video player", :type => "text/html", :width => "600"}
