---
title: Videos xHosp Censo Control de Cuartos
layout: layoutvideos
---

%iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "600", :src => "http://www.youtube.com/embed/bnDNiBeohbM", :title => "YouTube video player", :type => "text/html", :width => "600"}
