---
title: Videos xHosp
layout: layoutvideos
---

%iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "600", :src => "http://www.youtube.com/embed/LFaSiXHTm7A", :title => "YouTube video player", :type => "text/html", :width => "600"}