---
title: Videos xHosp Control de Quirófano
layout: layoutvideos
---

%iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "600", :src => "http://www.youtube.com/embed/jMFG5CqgG0Y", :title => "YouTube video player", :type => "text/html", :width => "600"}