---
title: Videos xHosp Transferencia de Egresos
layout: layoutvideos
---

%iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "600", :src => "http://www.youtube.com/embed/A9arlouFBko", :title => "YouTube video player", :type => "text/html", :width => "600"}
