---
title: Videos xHosp
layout: layoutxhosp
---
%i.icon-search
.container
  .row
    .span8
      .title
        Demostración en línea de xHosp
    .row
      .span8
        .text
          Virtus Group© y su división de software médico y hospitalario, Virtus Medical©, se complacen en presentarle su producto xHosp© y lo invitan a conocerlo mediante está demostración.<br/>

          xHosp© es un sistema de cómputo integral para la administración hospitalaria, el cual le ayudara a automatizar todos los procesos técnicos y administrativos de su hospital.<br/>

          xHosp© está formado por diferentes módulos y hemos diseñado está demostración de la misma manera, lo cual le permitira conocer cada uno de los módulos y regresar a los que le sean de mayor interés; los módulos que forman xHosp© son:<br/>
          <br/>
    .row
      .span2 
        %a.btn.btn-large{:href => "/pages/vcaracteristicas.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          Caractesrísticas<br/> Especiales
      .span2  
        %a.btn.btn-large{:href => "/pages/vadmisiondepacientes.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Admisión   de <br/>Pacientes
      .span2  
        %a.btn.btn-large{:href => "/pages/vfacturacion.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Facturación y <br/>Caja General 
      .span2
        %a.btn.btn-large{:href => "/pages/vlaboratorio.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Laboratorio de <br/>Análisis Clínico
    <br/>    

    .row
      
      .span2
        %a.btn.btn-large{:href => "/pages/vadministracion.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Administración del Sistema
      .span2  
        %a.btn.btn-large{:href => "/pages/vfarmacia.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Control de Farmacia
      .span2  
        %a.btn.btn-large{:href => "/pages/vcentralenfermeria.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Area de atención a hospitalizados
      .span2  
        %a.btn.btn-large{:href => "/pages/vtransferencia.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Transferencia y Egresos    
    <br/>          
    .row
      
      .span2 
        %a.btn.btn-large{:href => "/pages/vcontrolcuartos.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Censo y Control de Cuartos
      .span2 
        %a.btn.btn-large{:href => "/pages/vquirofano.html"}
          %img{:src => "/images/big_play_button.png", :alt => "xHosp"}          
          Control de quirófanos
    

      

