---
title: Videos xLab
layout: layoutxlab
---
.container
  .row
    .span8
      .title
        Demostración en línea de xLab
    .row
      .span8
        .text
          Virtus Group© y su división de software médico y hospitalario, Virtus Medical©, se complacen en presentarle su producto xLab© y lo invitan a conocerlo mediante está demostración.<br/>

          P R O X I M A M E N T E.....